* {
  --root-electric: #f9cf30;
  --root-water: #6493eb;
  --root-ghost: #70559b;
  --root-fire: #f57d31;
  --root-bug: #a7b723;
  --root-normal: #aaa67f;
  --root-steel: #b7b9d0;
  --root-rock: #b69e31;
  --root-fairy: #e69eac;
  --root-ice: #9ad6df;
  --root-dark: ##75574c;
  --root-grass: #74cb48;
  --root-psychic: #fb5584;
  --root-ground: #dec16b;
  --root-dragon: #7037ff;
  --root-poison: #a43e9e;
  --root-flying: #a891ec;
  --root-fighting: #c12239;
}
