$electric: #f9cf30;
$water: #6493eb;
$ghost: #70559b;
$fire: #f57d31;
$bug: #a7b723;
$normal: #aaa67f;
$steel: #b7b9d0;
$rock: #b69e31;
$fairy: #e69eac;
$ice: #9ad6df;
$dark: #75574c;
$grass: #74cb48;
$psychic: #fb5584;
$ground: #dec16b;
$dragon: #7037ff;
$poison: #a43e9e;
$flying: #a891ec;
$fighting: #c12239;
